<!DOCTYPE html>
<html>
<head>
  <title>Activerecord timeline</title>
  <%= stylesheet_link_tag    "activerecord_timeline/application", media: "all" %>
  <%= javascript_include_tag "activerecord_timeline/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
